body {
  background-color: azure;
  font-family: "Esteban", serif;
}

h1 {
  font-weight: 600;
  font-size: 34px;
  line-height: 1.5;
  color: thistle;
  text-align: center;
}

header {
  margin-bottom: 30px;
}

a {
  color: #885df1;
}

form {
  padding: 30px;
  background-color: cadetblue;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.poem-container {
  margin: 120px auto;
  max-width: 600px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: darkkhaki;
}

.poem-button {
  margin-left: 10px;
  background: darkgreen;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 16px;
  background-color: cadetblue;
  padding: 20px;
  line-height: 2.5;
  border-left: 3px solid darkgreen;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}

.poem em {
  color: darkgreen;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}
